<nav class="navbar navbar-light bg-none">
  <div class="container-fluid justify-content-center">
    <div class="row">
      <a class="mt-3 navbar-brand" href="/"><img src="https://i.imgur.com/SlZ1LtR.png" alt="" width="120px"></a>
    </div>
  </div>
</nav>
<div class="container create-form">
  <form action="/record/{{record._id}}?_method=PUT" method="POST">
    <div class="form-group">
      <label for="expense"></label>
      <input type="text" class="form-control" id="expense" name="name" autocomplete="off" maxlength="12"
        value="{{record.name}}" required>
      </select>
    </div>
    <div class="form-group">
      <label for="date"></label>
      <input type="date" class="form-control" id="date" name="date" placeholder="日期" value="{{record.date}}"
        autocomplete="on" required>
    </div>
    <div class="form-group">
      <label for="new-category"></label>
      <select id="new-category" class="form-control" name="category" required>
        <option>{{record.category}}</option>
        <option>餐飲食品</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>家居物業</option>
        <option>其他</option>
      </select>
    </div>
    <div class="form-group">
      <label for="amount"></label>
      <input type="text" class="form-control" id="amount" name="amount" placeholder="金額" value="{{record.amount}}"
        required>
    </div>
    <div class="form-group row justify-content-center">
      <button type="submit" class="btn mt-3" style="background-color: transparent;"><i class="fas fa-pencil-alt fa-2x"
          style="color: rgb(203, 210, 72);"></i></button>
    </div>
  </form>
</div>